absl-py==0.9.0
aiofiles==0.4.0
aiohttp==3.6.2
antlr4-python3-runtime==4.8
appdirs==1.4.4
appnope==0.1.0
APScheduler==3.6.3
argcomplete==1.10.0
asgiref==3.2.10
astor==0.8.1
asttokens==1.1.15
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
Automat==20.2.0
autopep8==1.4.4
backcall==0.1.0
backports-datetime-fromisoformat==1.0.0
beautifulsoup4==4.8.0
blackstone==0.1.15
bleach==3.1.4
blis==0.2.4
boto==2.49.0
boto3==1.12.31
botocore==1.15.31
bpemb==0.3.0
bs4==0.0.1
cachetools==4.0.0
catalogue==1.0.0
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cloudpickle==1.2.2
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
commonregex==1.5.4
compound-word-splitter==0.4
conllu==4.1
constantly==15.1.0
cryptography==2.8
cycler==0.10.0
cymem==2.0.3
datefinder-lexpredict==0.6.2
dateparser==0.7.2
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.10
distlib==0.3.1
Django==3.1.1
dnspython==1.16.0
docopt==0.6.2
docutils==0.15.2
docx2txt==0.8
EbookLib==0.17.1
entrypoints==0.3
extract-msg==0.23.1
filelock==3.0.12
fire==0.3.1
Flask==1.1.1
Flask-Cors==3.0.8
future==0.17.1
fuzzywuzzy==0.18.0
gast==0.2.2
gensim==3.8.3
geographiclib==1.50
geopy==1.18.1
gevent==1.4.0
gitdb==4.0.4
GitPython==3.1.1
google-auth==1.12.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.13.2
greenlet==0.4.15
grpcio==1.27.2
gspread==3.0.1
gunicorn==20.0.4
h11==0.8.1
h2==3.2.0
h5py==2.10.0
horast==0.4.0
hpack==3.0.0
hstspreload==2020.3.25
html2text==2020.1.16
httplib2==0.18.0
httptools==0.1.1
httpx==0.9.3
humanfriendly==8.1
hyperframe==5.2.0
hyperlink==19.0.0
hyperopt==0.2.4
idna==2.8
IMAPClient==2.1.0
importlib-metadata==1.6.0
incremental==17.5.0
install==1.3.1
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.16.0
jellyfish==0.6.1
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
json5==0.9.4
jsonnet==0.16.0
jsonpickle==1.3
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-core==4.6.3
jupyterlab==2.0.1
jupyterlab-server==1.0.7
kafka-python==1.4.7
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
klein==17.10.0
langdetect==1.0.8
lexnlp==1.7.0
libcst==0.3.4
lxml==4.5.2
mailchimp3==3.0.13
manage.py==0.2.10
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mattermostwrapper==2.2
mistune==0.8.4
more-itertools==8.0.0
Morfessor==2.0.6
mpld3==0.3
multidict==4.7.5
murmurhash==1.0.2
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.5
networkx==2.4
nltk==3.5
notebook==6.1.5
num2words==0.5.10
numpy==1.19.1
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.2.0
ordered-set==3.1.1
overrides==3.0.0
packaging==20.3
pandas==0.24.2
pandocfilters==1.4.2
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
piianalyzer==0.1.1
pika==1.1.0
Pillow==7.0.0
plac==0.9.6
pluggy==0.13.1
polyglot==16.7.4
preshed==2.0.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.11.3
psycopg2-binary==2.8.4
ptyprocess==0.6.0
py==1.8.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycld2==0.41
pycodestyle==2.5.0
pycparser==2.20
pycryptodome==3.9.8
pydot==1.4.1
pyenchant==3.0.1
pyensae==1.3.839
Pygments==2.6.1
PyHamcrest==2.0.2
PyICU==2.5
PyJWT==1.7.1
pykg-config==1.3.0
pykwalify==1.7.0
pymongo==3.8.0
pyocr==0.7.2
pyparsing==2.4.7
PyPDF2==1.26.0
pyquickhelper==1.9.3418
pyrsistent==0.16.0
PySocks==1.7.1
pytest==5.4.3
python-dateutil==2.8.1
python-engineio==3.11.2
python-Levenshtein==0.12.0
python-pptx==0.6.18
python-socketio==4.4.0
python-telegram-bot==11.1.0
pytz==2019.3
pywsd==1.2.4
PyYAML==5.3.1
pyzmq==19.0.0
questionary==1.5.1
reporters-db==2.0.3
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.3.2
rocketchat-API==0.6.36
rsa==4.0
ruamel.yaml==0.15.100
s3transfer==0.3.3
sacremoses==0.0.43
sanic==19.12.2
Sanic-Cors==0.10.0.post3
sanic-jwt==1.3.2
Sanic-Plugins-Framework==0.9.2
scikit-learn==0.23.1
scipy==1.5.1
segtok==1.5.10
semver==2.9.1
Send2Trash==1.5.0
sentencepiece==0.1.91
showast==0.2.4
simplejson==3.17.0
six==1.12.0
sklearn-crfsuite==0.3.6
smart-open==2.0.0
smmap==3.0.2
sniffio==1.1.0
sortedcontainers==2.2.2
soupsieve==1.9.5
sqlitedict==1.6.0
srsly==1.0.2
static-typing==0.2.7
staticfg==0.9.4
tensorboard==2.1.1
tensorboardX==2.0
tensorflow==2.1.0
tensorflow-addons==0.8.3
tensorflow-estimator==2.1.0
tensorflow-hub==0.7.0
tensorflow-probability==0.7.0
tensorflow-text==2.1.0rc0
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
threadpoolctl==2.1.0
tokenizers==0.7.0
torch==1.5.0
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.3
transformers==2.11.0
twilio==6.26.3
Twisted==20.3.0
typed-ast==1.4.1
typed-astunparse==2.1.4
typeguard==2.7.1
typing==3.7.4.1
typing-extensions==3.7.4.2
typing-inspect==0.5.0
tzlocal==1.5.1
ujson==1.35
unicodecsv==0.13.0
Unidecode==1.1.1
urllib3==1.25.9
us==2.0.2
uvloop==0.14.0
version-query==1.1.0
virtualenv==20.0.31
Wand==0.5.8
wasabi==0.6.0
wcwidth==0.1.9
webencodings==0.5.1
webexteamssdk==1.1.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wn==0.0.23
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.3.3
yahoo-historical==0.3.2
yarl==1.4.2
zipp==3.1.0
zope.interface==5.0.1
